# File môi trường chứa mật khẩu và thông tin nhạy cảm
.env

# Bỏ qua thư mục build của .NET
[Bb]in/
[Oo]bj/
[Pp]ublish/

# Bỏ qua thư mục build của frontend (React/Vite)
UserDashboard/dist/
UserDashboard/build/

# Thư mục node_modules của dự án React
**/node_modules

# Thư mục images
**/images


# Các file do Rider/VS Code/Visual Studio tạo ra
.idea/
.vs/
*.suo
*.user

# Log files
*.log

# Bỏ qua thư mục chứa data của MongoDB
ApiGateway/Database/

# Bỏ qua thư mục images chứa ảnh
/installer/

# Bỏ qua tất cả các file .deb, .tar, .zip
*.deb
*.tar
*.zip